.novo-artigo {
    display: grid;
    gap: 19px;
}

.area-voltar {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.data-palavras {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
}

.palavras-chave {
    display: grid;
}

.adicionar-palavra{
    margin-left: 40rem;
    cursor: pointer;
}

.area-cadastrados{
    display: grid;
    text-align: right;
}

p#palavra {
    background-color: var(--cinza);
    padding: 2px 5px;
    margin: 10px 5px;
}

palavra-cadastrada {
    display: inline-block;
}

input[type=submit] {
    margin-left: 70%;
}

.salvar-artigo {
    margin-left: 70%;
}