p#trilha {
    background-color: var(--cinza);
    padding: 2px 5px;
    margin: 10px 5px;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30%;
}

div.content {
    margin: 4% 15%;
}

.area-voltar {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
form {
    padding: 50px;
}

h2 {
    text-align: center;
}